#app {
    background-color: #DEDED9;
    width: 500px;
    height: 500px;
}

canvas {
    position: absolute;
    padding: 0px;
}

.plotscape-container {
    border: 1px solid #999690;
    position: relative;
    display: inherit !important;
    box-shadow: 5px 5px 3px #00000025;
}

.plotscape-scene {
    position: relative;
    display: grid !important;
    grid-template-columns: repeat(var(--ncols), 1fr);
    grid-template-rows: repeat(var(--nrows), 1fr);
    box-sizing: border-box;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    grid-gap: 1em;
    box-shadow: inset 2px 2px 5px #00000025;
    overflow: hidden;
  }